td {
    min-width: 40px;
    padding: 3px;
    font-size: small;
    text-align: center;

}
.sche_table { 
    border-spacing: 1;
    border-collapse: collapse;
}
.titleR {
    color:#FF0000;
}
.titleB {
    color:#0000FF;
}
.sortedR {
    background-color: #FF0000;
    color: #FFFFFF;
}

.sortedB {
    background-color: #0000FF;
    color: #FFFFFF;
}

.watch1 {
    background-color: #00FF00;
    color: #000000;
}

.watch2 {
    background-color: #FFFF00;
    color: #000000;
}

