<div >

    <select class="form-control" type="text" name="team" [(ngModel)] = "team" (ngModelChange)="setTeam($event)">
        <option [value]="" selected>All</option>
        <option *ngFor="let a of apiCurrTeamList;" [value]="a.team">{{a.team}}</option>
    </select>
    <select class="form-control" type="text" name="watch" [(ngModel)] = "watch"  (ngModelChange)="setWatch($event)">
        <option [value]="0" selected>None</option>
        <option [value]="1">Watch 1</option>
        <option [value]="2">Watch 2</option>
        <option [value]="3">All</option>
    </select>
    <table>
        <tr>
            <td valign="top">
                <table border="1" class="sche_table">
                    <th>#</th>
                    <th colspan="3">Red Alliance</th>
                    <th colspan="3">Blue Alliance</th>
                    <tr *ngFor="let x of apiMatchList_filter">
                        <td (dblclick)="matchPage( x.MatchNo )" (click)="setMatch( x.MatchNo )">{{ x.MatchNo }}</td>
                        <td class="titleR" (click)="teamSelect( x.RedTeam1 )" (dblclick)="teamPage( x.RedTeam1 )"><div [ngClass]="getClass(x.RedTeam1,'R')">{{ x.RedTeam1 }}</div></td>
                        <td class="titleR" (click)="teamSelect( x.RedTeam2 )" (dblclick)="teamPage( x.RedTeam2 )"><div [ngClass]="getClass(x.RedTeam2,'R')">{{ x.RedTeam2 }}</div></td>
                        <td class="titleR" (click)="teamSelect( x.RedTeam3 )" (dblclick)="teamPage( x.RedTeam3 )"><div [ngClass]="getClass(x.RedTeam3,'R')">{{ x.RedTeam3 }}</div></td>
                        <td class="titleB" (click)="teamSelect( x.BlueTeam1 )" (dblclick)="teamPage( x.BlueTeam1 )"><div [ngClass]="getClass(x.BlueTeam1,'B')">{{ x.BlueTeam1 }}</div></td>
                        <td class="titleB" (click)="teamSelect( x.BlueTeam2 )" (dblclick)="teamPage( x.BlueTeam2 )"><div [ngClass]="getClass(x.BlueTeam2,'B')">{{ x.BlueTeam2 }}</div></td>
                        <td class="titleB" (click)="teamSelect( x.BlueTeam3 )" (dblclick)="teamPage( x.BlueTeam3 )"><div [ngClass]="getClass(x.BlueTeam3,'B')">{{ x.BlueTeam3 }}</div></td>
                    </tr>
                </table>
            </td>

            <td valign="top" align="right" width="100">
                <table border="1" class="sche_table">
                    <th>#</th><th>List</th><th>Action</th>
                    <ng-container *ngFor="let t of teamMatchFilter">
                        <tr><td (click)="selectMatch(t.MatchNo)" [ngClass]="getMatchClass(t.MatchNo)">{{ t.MatchNo }}</td> <td (click)="selectTeam(t.Team)" [ngClass]="getTeamClass(t.Team)">{{ t.Team }}</td><td (dblclick)="switchTeam( t.Team, t.MatchNo )">switch</td></tr>
                    </ng-container>
                </table>
                <button (click)="teamList()">Team List</button>
                <button (click)="resetList()">Reset List</button>
            </td>
            <td valign="top">
                <app-match-info [match]=selectedMatch></app-match-info>
            </td>
        </tr>
    </table>
</div>


