td {
    width: 33.33334%;   
    padding: 2px;
    font-size: small;
    font-weight: bold;
    background-color: #CCCCCC;
}
.titleR {
    color:#FF0000;
    text-align: center;

}
.titleB {
    color:#0000FF;
    text-align: center;

}