td {
    min-width: 40px;
    padding: 3px;
    font-size: small;
    text-align: center;

}

button {
    width: 80px;
}
.sche_table { 
    border-spacing: 1;
    border-collapse: collapse;
}
.titleR {
    color:#FF0000;
}
.titleB {
    color:#0000FF;
}
.sortedR {
    background-color: #FF0000;
    color: #FFFFFF;
}

.sortedB {
    background-color: #0000FF;
    color: #FFFFFF;
}

.watch1 {
    background-color: #00FF00;
    color: #000000;
}

.watch2 {
    background-color: #FFFF00;
    color: #000000;
}

.tbox {
    width: 35px;
}

.bg0{ background-color: black; min-width: 16px;}
.bg1{ background-color: green; min-width: 16px;}

.top-left-dot {
    //float:left;
    width:1;
    height:1;
    margin-left:3px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    white-space: normal;
    display:inline-block;
    color:black;
}

.top-left-dot-2 {
    float:left;
    width:1;
    height:1;
    margin-left:6px;
    padding:0px;
}

.circle {
    width:2px;
    height:2px;
    border-radius:51%;
    display:inline-block;
 }


.bg0 {  background-color: #000000; color: #FFFFFF; }
.bg1 {  background-color: #FF0000; color: #FFFFFF; }
.bg2 {  background-color: #FFFF00; color: #000000;}
.bg3 {  background-color: #00FF00; color: #000000;}
.bg4 {  background-color: #00FFFF; color: #000000;}
.bg5 {  background-color: #0000FF; color: #FFFFFF; }
.bg6 {  background-color: #FF00FF; color: #FFFFFF;}
.bg7 {  background-color: #FF0000; color: #FFFFFF; }
.bg8 {  background-color: #FFFF00; color: #000000;}
.bg9 {  background-color: #00FF00; color: #000000;}
.bg10 {  background-color: #00FFFF; color: #000000;}
.bg11 {  background-color: #0000FF; color: #FFFFFF; }
.bg12 {  background-color: #FF00FF; color: #FFFFFF;}