<div *ngFor="let x of apiMatchList">
    <table border="1" align="center" *ngIf="x.MatchNo % 2 == isOdd">
        <tr >
            <td class="titleB" (dblclick)="teamPage( x.BlueTeam1 )">{{ x.BlueTeam1 }} | {{ x.BlueTeam2 }} | {{ x.BlueTeam3 }}</td>
            <td align="center" style="font-size: medium; font-weight: bold;background-color: #CCCCCC;width: 8%;">{{ x.MatchNo }}</td>
            <td class="titleR" (dblclick)="teamPage( x.RedTeam1 )">{{ x.RedTeam1 }} | {{ x.RedTeam2 }} | {{ x.RedTeam3 }}</td>
        </tr>
    </table>
</div>


