<header fxLayoutAlign="space-between center">
    <div><b>&emsp;CyberScouter 2022</b></div><p>Last Update: {{ lastDBtime }}</p>
    <div fxLayout="row">
        <a routerLink="/"><button type="button">Home</button></a>
        <a routerLink="/analysis"><button type="button">Team Picker</button></a>
        <a routerLink="/robot"><button type="button">Robot Snapshot</button></a>
        <a routerLink="/match"><button type="button">Match Report</button></a>
        <a routerLink="/schedule"><button type="button">Schedule</button></a> 
    </div>
</header>
