header {
    padding: 20px;
    background-color: darkorchid;
    color: white;

}
a:link,
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: none;
}