header {
    background-color: darkorchid;
    color: white;
    font-family: Verdana, sans-serif;
}
a:link,
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: none;
}
button {
    border: none;
    color: white;
    background-color: darkorchid;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: Verdana, sans-serif;
  }
  button:hover {
      background-color: rgb(148, 1, 148);
  } 
  button:focus {
      background-color: purple;
  }
  p { 
    font-size: 12px;
    padding: 0px;
 }

.selected {
    background-color: purple;
}