<header fxLayoutAlign="space-between center">
    <div><b>&emsp;CyberScouter 2022</b></div><p>Last Update: {{ lastDBtime }}</p>
    <div fxLayout="row">
        <a routerLink="/"><button type="button" (click)="setDisplay(1)" [ngClass]="{'selected': display == 1}">Home</button></a>
        <a routerLink="/analysis"><button type="button" (click)="setDisplay(2)" [ngClass]="{'selected': display == 2}">Team Picker</button></a> 
        <a routerLink="/robot"><button type="button" (click)="setDisplay(3)" [ngClass]="{'selected': display == 3}">Robot Snapshot</button></a>    
        <a routerLink="/match"><button type="button" (click)="setDisplay(4)" [ngClass]="{'selected': display == 4}">Match Report</button></a>
        <a routerLink="/schedule"><button type="button" (click)="setDisplay(5)" [ngClass]="{'selected': display == 5}">Schedule</button></a>    
    </div>
</header>
