<div>
    <table border="1">
        <tr>
            <td width="225">&nbsp;</td>
            <td colspan="3">
                <div style="float:left;width:50%;">
                <button (click)="changeDisplay(1)">Auto</button>
                <button (click)="changeDisplay(2)">Low|High</button>
                <button (click)="changeDisplay(3)">Cargo|Score</button>
                <button (click)="changeDisplay(4)">Tele|Climb</button>
                <button (click)="summaryView()">Summary</button>
                </div>
                <div style="float:right;width:50%;">
                <b>&nbsp;Left Table: </b>
                <select class="form-control" type="text" name="AnalysisType1" [(ngModel)] = "analysis1" (ngModelChange)="select(1,$event)">
                    <option *ngFor="let t of apiTypes;" [value]="t.AnalysisTypeID">{{t.AnalysisType}}</option>
                </select>
                <b>&nbsp;Right Table: </b>
                <select class="form-control" type="text" name="AnalysisType2" [(ngModel)] = "analysis2" (ngModelChange)="select(2,$event)">
                    <option *ngFor="let t of apiTypes;" [value]="t.AnalysisTypeID">{{t.AnalysisType}}</option>
                </select>
    
                <input type="hidden" [(ngModel)]='analysis1'>
                <input type="hidden" [(ngModel)]='analysis2'>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td align="right">
                            <div align="center"><b>Final</b></div>
                            <!-- <input type="text" class="form-control" placeholder="teamList" [ngModel]="listRecipients()"name="recpList"/> -->
                            <ng-container *ngFor="let c of apiFinal24List; let i = index">
                                {{ i+1 }} <input type="text" class="tbox" maxlength="4" [(ngModel)]="c.Team" (dblclick)="processDoubleClick(i)" (ngModelChange)="teamSelectionChange(1)"><br>
                            </ng-container>
                          <button (click)="addEnd(1)">Add</button>

                        </td>
                        <td valign="top" align="center">
                            <b>Pick</b><br>
                            <ng-container *ngFor="let c of apiPickList; let i = index">
                                <input type="text" class="tbox" maxlength="4" [(ngModel)]="c.Team" (dblclick)="processDoubleClickPick(i)" (ngModelChange)="teamSelectionChange(3)"><br>
                            </ng-container>
                          <button (click)="addEnd(3)">Add</button>
                        </td>
                        <td>
                            <button (click)="changeSort(sortType)">{{ sortType == 1 ? 'Team Sort' : 'Amt Sort' }}</button>
                            <!-- <input type="hidden" [(ngModel)]='sortType'> -->
                            <br>
                            <button (click)="changeView(viewType)">{{ viewType == 1 ? 'Graph View' : 'Table View' }}</button>
                            <br>
                            <button (click)="save()">Save to server</button>
                            <br>
                            <br>
                            <b>Compare</b>
                            <form [formGroup]="compareForm" (ngSubmit)="compareTeams(compareForm.value)">
                                <input id="team1" type="text" class="tbox" maxlength="4"formControlName="team1"><br>
                                <input id="team2" type="text" class="tbox" maxlength="4" formControlName="team2"><br>
                                <input id="team3" type="text" class="tbox" maxlength="4" formControlName="team3"><br>
                                <input id="team4" type="text" class="tbox" maxlength="4" formControlName="team4"><br>
                                <input id="team5" type="text" class="tbox" maxlength="4" formControlName="team5"><br>
                                <input id="team3" type="text" class="tbox" maxlength="4" formControlName="team6"><br>
                                <input id="team4" type="text" class="tbox" maxlength="4" formControlName="team7"><br>
                                <input id="team5" type="text" class="tbox" maxlength="4" formControlName="team8"><br>
                                <button class="button" type="submit">{{ filter == 1 ? 'Compare Off' : 'Compare' }}</button>
                            </form>
                            <br>
                            <b>DNP</b><br>
                            <ng-container *ngFor="let c of apiDnpList; let i = index">
                                <input type="text" class="tbox" maxlength="4" [(ngModel)]="c.Team" (dblclick)="processDoubleClickDnp(i)" (ngModelChange)="teamSelectionChange(2)"><br>
                            </ng-container>
                          <button (click)="addEnd(2)">Add</button>
                          <br><br>
                          <button (click)="copyToPick()">Copy2Pick</button>
                          <br>
                          <button (click)="clearFinal24()">Clear Final</button>
                        </td>
                    </tr>
                </table>
            </td>
            <td> 
                <!-- Start of the Regular View -->

                <div [hidden]="fullShow">
                <div [hidden]="tableShow">
                <div [hidden]="detailShow">
                <table>
                    <tr>
                        <td>
                            <app-team-table [analysisTypeID]=analysis1 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table>
                        </td>
                        <td width="20">
                            &nbsp;
                        </td>
                        <td>
                            <app-team-table [analysisTypeID]=analysis2 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table>
                        </td>
                    </tr>
                </table>
                </div>
                <div [hidden]="summaryShow">
                    <table>
                        <tr>
                            <td>
                                <app-summary-table [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-summary-table>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <div [hidden]="graphShow">
                <div [hidden]="detailShow">
                    <table>
                        <tr>
                            <td>
                                <app-team-graph [analysisTypeID]=analysis1 [teamList]=filterList [filter]=filter [filter]=filter></app-team-graph>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <app-team-graph [analysisTypeID]=analysis2 [teamList]=filterList [filter]=filter></app-team-graph>
                            </td>
                        </tr>
                    </table>
                </div>
                <div [hidden]="summaryShow">
                    <table>
                        <tr>
                            <td>
                                <app-summary-graph [teamList]=filterList [filter]=filter></app-summary-graph>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                </div>
                <!-- Start of the Compare View -->
                <div [hidden]="compareShow">
                    <div [hidden]="tableShow">
                    <div [hidden]="detailShow">
                    <table>
                        <tr>
                            <td>
                                <app-team-table [analysisTypeID]=10 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=20 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=21 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=60 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table>
                            </td>
                            <td width="20">
                                &nbsp;
                            </td>
                            <td>
                                <app-team-table [analysisTypeID]=11 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=22 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=30 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
                                <app-team-table [analysisTypeID]=61 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div [hidden]="summaryShow">
                    <table>
                        <tr>
                            <td>
                                <app-summary-table></app-summary-table>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <div [hidden]="graphShow">
                <div [hidden]="detailShow">
                <table>
                    <tr>
                        <td>
                            <app-team-graph [analysisTypeID]=analysis1 [teamList]=filterList [filter]=filter></app-team-graph>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-team-graph [analysisTypeID]=analysis2 [teamList]=filterList [filter]=filter></app-team-graph>
                        </td>
                    </tr>
                </table>
                </div>
                <div [hidden]="summaryShow">
                    <table>
                        <tr>
                            <td>
                                <app-summary-graph [teamList]=filterList [filter]=filter></app-summary-graph>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                </div>
            </td>
            <td style="padding: 4px;">
                <!-- Start of Blue Alliance Ranking -->

                <app-team-table [analysisTypeID]=80 [teamList]=filterList [sort]=sortType  [focus]=focusTeam [filter]=filter (sendTeamEvent)="print_team($event)"></app-team-table><br>
            </td>
        </tr>
    </table>
</div>
