<div>
    <table border="1">
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td align="right">
                            <div align="center">Final</div>
                            <form *ngFor="let c of apiFinal24List">
                                {{ c.SortOrder }} <input type="text" size="3" value="{{ c.Team }}">
                            </form>
                        </td>
                        <td valign="top" align="center">
                            Pick
                            <form>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                                <input type="text" size="3"><br>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <app-team-table [analysisTypeID]="1"></app-team-table>
            </td>
            <td width="20">
                &nbsp;
            </td>
            <td>
                <app-team-table [analysisTypeID]="10"></app-team-table>
            </td>
        </tr>
    </table>
</div>
