.bg0 {  background-color: #FFFFFF; }
.bg1 {  background-color: #000000; color: #FFFFFF; }
.bg2 {  background-color: #FF0000; color: #FFFFFF; }
.bg3 {  background-color: #FFFF00; }
.bg4 {  background-color: #00FF00; }
.bg5 {  background-color: #0000FF; color: #FFFFFF; }

tr { font-size: 12px; width: 25px; }

th { 
    font-size: 12px; 
    width: 25px; 
    background-color: #CCCCCC;
}

td { vertical-align: top; }

.cea_table { 
    border-spacing: 0;
    border-collapse: collapse;
}