<table border="1" width="100%">

    <tr>
        <td>
            <input list="productName" name="matchSelect" ngModel (ngModelChange)="getMatch($event)"/>
            <datalist id="productName" >
                <option *ngFor="let m of apiMatchList" [ngValue]="m.MatchNo">{{ m.MatchNo }}</option>
            </datalist>
        </td>
    </tr>

    <tr>
        <td colspan="3" align="center"><h1>Match {{matchNo}}</h1></td>
    </tr>
    <tr>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam1 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam2 [color]=1></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam3 [color]=1></app-analysis-table>
        </td>
        <td>    
        
        </td>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam1 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam2 [color]=2></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam3 [color]=2></app-analysis-table>
        </td>
    </tr>
</table>
