.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.draw{
    background-color: gray;
    color: white;
}
.good{
    background-color: green;
    color: white;
}
.bad{
    background-color: black;
    color: white;
}