<table border="0" width="100%">
    <tr>
        <td><h2>Red Team 1</h2></td>
        <td width="2%"></td>
        <td><h1>Blue Team 1</h1></td>
    </tr>
    <tr>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam1></app-analysis-table>
        </td>
        <td>    
        
        </td>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam1></app-analysis-table>    
        </td>
    </tr>
    <tr>
        <td><h2>Red Team 2</h2></td>
        <td></td>
        <td><h1>Blue Team 2</h1></td>
    </tr>
    <tr>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam2></app-analysis-table>
        </td>
        <td>    
        
        </td>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam2></app-analysis-table>    
        </td>
    </tr>
    <tr>
        <td><h2>Red Team 3</h2></td>
        <td></td>
        <td><h1>Blue Team 3</h1></td>
    </tr>
    <tr>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam3></app-analysis-table>
        </td>
        <td>    
        
        </td>
        <td>
            <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam3></app-analysis-table>    
        </td>
    </tr>
</table>
