h2 {
    font-size: 25px;
    height: 10px;
    color: red;
    font-family: Verdana, sans-serif;
}
h1 {
    font-size: 25px;
    height: 10px;
    color: blue;
    font-family: Verdana, sans-serif;
}
th {
    font-size: 15px;
    width: 30px;
    font-family: Verdana, sans-serif;
}