<table border="0">
    <tr>
        <td align="right">
            <div align="center">Final</div>
            <form *ngFor="let c of apiFinal24List">
                {{ c.SortOrder }} <input type="text" size="3" value="{{ c.Team }}">
            </form>
        </td>
        <td valign="top" align="center">
            Pick
            <form>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
                <input type="text" size="3"><br>
            </form>
        </td>
    </tr>
</table>


