<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table width="760px" style="background-color: darkorchid;" align="center">
    <tr>
        <td>
            <button style="width: 33.334%;" (click)="setDisplay(0)" [ngClass]="{'selected': display == 0}">Home</button>
            <button style="width: 33.334%;" (click)="setDisplay(1)" [ngClass]="{'selected': display == 1}">Robo Snapshot</button>
            <button style="width: 33.334%;" (click)="setDisplay(2)" [ngClass]="{'selected': display == 2}">Match Report</button>
        </td>
    </tr>
</table>
<table width="760px" align="center">
    <tr *ngIf="display==0">
        <table align="center" width="100%">
            <tr>
                <th style="background-color: white;font-size: large;">
                    Welcome to the Cyberscouter&trade;!
                </th>
            </tr>
            <tr>
                <td style="font-size: medium;">
                    Here you can acess all of the data for our matches. 
                    The robot snapshot allows you to see infividual profiles of each robot. 
                    The math report has reports of differents matches with data from each robot in the alliance.
                </td>
            </tr>
            <p></p>
            <tr>
                <td align="center"><img src="https://cdn.discordapp.com/attachments/830144707794305064/950545078684889088/g.JPG" alt="logo"></td>
            </tr>
        </table>
        <p></p>
        <table border="0" width="100%" align="center">
            <tr>
                <td align="center"><app-schedule></app-schedule></td>
            </tr>
        </table>
    </tr>
    <tr *ngIf="display==1">
        <table align="center" border="1" width="100%">
            <tr>
                <td align="center">
                    <select id="teamSelect" name="teamSelect" [(ngModel)]="team">
                        <option *ngFor="let a of apiTeamsList" value="{{ a.Team }}">{{ a.Team }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <app-analysis-table  [analysisGroup]=3 [selectedTeam]=team></app-analysis-table>
                    <br>
                    <app-analysis-table  [analysisGroup]=2 [selectedTeam]=team></app-analysis-table> 
                    <br>
                    <app-analysis-table  [analysisGroup]=4 [selectedTeam]=team></app-analysis-table> 
                </td>
            </tr>
            <tr>
                <td style="width: 33%;">
                    <button class="button1" (click)="setLittleDisplay(1)" style="width: 25%;" [ngClass]="{'selected1': littleDisplay == 1}">Pit Data</button>
                    <button class="button1" (click)="setLittleDisplay(2)" style="width: 25%;" [ngClass]="{'selected1': littleDisplay == 2}">Picture</button>
                    <button class="button1" (click)="setLittleDisplay(3)" style="width: 25%;" [ngClass]="{'selected1': littleDisplay == 3}">Graphs</button>
                    <button class="button1" (click)="setLittleDisplay(4)" style="width: 25%;" [ngClass]="{'selected1': littleDisplay == 4}">Word Cloud</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div *ngIf="littleDisplay==1" align="center">
                        <app-pit-data [team]="team"></app-pit-data>
                    </div>
                    <table border="0" *ngIf="littleDisplay==2" align="center">
                        <tr>
                            <td align="center"><img src="https://cdn.discordapp.com/attachments/830144707794305064/949107933260677130/error_robot_not_found.png" alt="robotnotfound" style="width:95%; align-items: center;"></td>
                        </tr>
                        <tr>
                            <div *ngFor="let x of apiTeamsList">
                                <td *ngIf="x.Team + '' == team + ''" align="center" style="align-items: center;">
                                    <b>{{ x.RobotLength }} in. x {{ x.RobotWidth}} in. x {{ x.RobotHeight }}</b>
                                </td>
                            </div>
                        </tr>
                    </table>
                    <table border="1" *ngIf="littleDisplay==3" align="center">
                        <tr>
                            <td>
                                <app-analysis-graph [analysisTypeID]=10 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=20 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=21 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=60 [selectedTeam]=team> </app-analysis-graph>
                            </td>
                            <td>
                                <app-analysis-graph [analysisTypeID]=11 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=22 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=30 [selectedTeam]=team> </app-analysis-graph>
                                <app-analysis-graph [analysisTypeID]=61 [selectedTeam]=team> </app-analysis-graph>
                            </td>
                        </tr>
                    </table>
                    <table *ngIf="littleDisplay==4" align="center"><!-- word cloud stuff can go here -->
                        yooo look at me im a cloud of words or smth idk
                    </table>
                </td>
            </tr>
        </table>
    </tr>
    <tr *ngIf="display==2">
        <td>
            <table border="0" width="100%">

                <tr>
                    <td align="center">
                        <input list="productName" name="matchSelect" ngModel (ngModelChange)="getMatch($event)"/>
                        <datalist id="productName" >
                            <option *ngFor="let m of apiMatchList" [ngValue]="m.MatchNo">{{ m.MatchNo }}</option>
                        </datalist>
                    </td>
                </tr>
            
                <tr>
                    <td colspan="3" align="center"><h1>Match {{matchNo}}</h1></td>
                </tr>
                <tr>
                    <td>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam1 [color]=1></app-analysis-table>
                        <br>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam2 [color]=1></app-analysis-table>
                        <br>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=redTeam3 [color]=1></app-analysis-table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam1 [color]=2></app-analysis-table>
                        <br>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam2 [color]=2></app-analysis-table>
                        <br>
                        <app-analysis-table  [analysisGroup]=1 [selectedTeam]=blueTeam3 [color]=2></app-analysis-table>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>
