.bgB1{ background-color: #1C1CFF;}
.bgB2{ background-color: #3838FF;}
.bgB3{ background-color: #5454FF;}
.bgB4{ background-color: #7070FF;}
.bgB5{ background-color: #8C8CFF;}
.bgB6{ background-color: #A8A8FF;}

.bgR1{ background-color: #FF1C1C;}
.bgR2{ background-color: #FF3838;}
.bgR3{ background-color: #FF5454;}
.bgR4{ background-color: #FF7070;}
.bgR5{ background-color: #FF8C8C;}
.bgR6{ background-color: #FFA8A8;}