
<table border=1 width="100%">
    <tr>
        <td>Auto Accuracy: </td>
        <td>
            <!-- <div *ngFor="let x of apiAnalysis">
                <div *ngIf="x.Team + '' == selectedTeam + ''">
                    <div *ngIf=""></div>
                </div>
            </div> -->
        </td>
    </tr>
    <tr>
        <td colspan="2">Picture of starting positions</td>
    </tr>
    <tr>
        <td>Tele Accuracy: </td>
        <td>
            <!-- <div *ngFor="let x of apiAnalysis">
                <div *ngIf="x.Team + '' == selectedTeam + ''">
                    <div *ngIf=""></div>
                </div>
            </div> -->
        </td>
    </tr>
    <tr>
        <td>Starting Positions: </td>
        <td>Numbers</td>
    </tr>
    <tr>
        <td colspan="2">Picture of starting positions</td>
    </tr>
</table>