.bgB16{ background-color: #1C1CFF;}
.bgB15{ background-color: #3838FF;}
.bgB14{ background-color: #5454FF;}
.bgB13{ background-color: #7070FF;}
.bgB12{ background-color: #8C8CFF;}
.bgB11{ background-color: #A8A8FF;}

.bgR16{ background-color: #FF1C1C;}
.bgR15{ background-color: #FF3838;}
.bgR14{ background-color: #FF5454;}
.bgR13{ background-color: #FF7070;}
.bgR12{ background-color: #FF8C8C;}
.bgR11{ background-color: #FFA8A8;}

.bgB0{background-color: black;}
.bgR0{background-color: black;}