.bg0 {  background-color: #FFFFFF; }
.bg1 {  background-color: #000000; color: #FFFFFF; }
.bg2 {  background-color: #FF0000; color: #FFFFFF; }
.bg3 {  background-color: #FFFF00; }
.bg4 {  background-color: #00FF00; }
.bg5 {  background-color: #0000FF; color: #FFFFFF; }
.bg6 {  background-color: #DDDDDD}
.bg7 {  background-color: #979797; color: #FFFFFF;}

tr { font-size: 10px; width: 40px; }

th { 
    font-size: 10px; 
    width: 40px; 
    background-color: #CCCCCC;
}

.cea_table { 
    border-spacing: 0;
    border-collapse: collapse;
}

.sorted { 
    background-color: darkorchid;
    color: #FFFFFF;
}