<table border="1">
    <tr>
        <div *ngFor="let x of apiTeamsList">
            <div *ngIf="x.Team + '' == team">
                <tr>
                    <td><b># Of Wheels: </b></td>
                    <td>{{ x.NumWheels }}</td>
                    <td><b># Of Motors: </b></td>
                    <td>{{ x.NumDriveMotors }}</td>
                </tr>
                <tr>
                    <td><b>Type of Wheels: </b></td>
                    <td>{{ x.WheelType }}</td>
                    <td><b>Type of Drive: </b></td>
                    <td>{{ x.DriveType }}</td>
                </tr>
                <tr>
                    <td><b>Type of Motors: </b></td>
                    <td>{{ x.MotorType }}</td>
                    <td><b>Language: </b></td>
                    <td>{{ x.LanguageType }}</td>
                </tr>
                <tr>
                    <td><b>Gear Ratio: </b></td>
                    <td>{{ x.GearRatio }}</td>
                    <td><b>Gear Speed: </b></td>
                    <td>{{ x.NumGearSpeed }}</td>
                </tr>
                <tr>
                    <td><b>Speed: </b></td>
                    <td>{{ x.Speed }} ft/s</td>
                    <td><b>Weight: </b></td>
                    <td>{{ x.RobotWeight }} lb.</td>
                </tr>
                <tr>
                    <td><b>Legth: </b></td>
                    <td>{{ x.RobotLength }} in.</td>
                    <td><b>Width: </b></td>
                    <td>{{ x.RobotWidth }} in.</td>
                </tr>
                <tr>
                    <td><b>Height: </b></td>
                    <td>{{ x.RobotHeight }} in.</td>
                    <td><b>Pneumatics: </b></td>
                    <td>{{ getYesNo(x.Pneumatics) }}</td>
                </tr>
                <tr>
                    <td><b>Intake Type: </b></td>
                    <td>{{ x.IntakeType }}</td>
                    <td><b>Preload: </b></td>
                    <td>{{ getYesNo(x.Preload) }}</td>
                </tr>
                <tr>
                    <td><b>Has Auto: </b></td>
                    <td>{{ getYesNo(x.HasAuto) }}</td>
                    <td><b>Typical Move Bonus: </b></td>
                    <td>{{ getYesNo(x.MoveBonus) }}</td>
                </tr>
                <tr>
                    <td><b>Favored Auto Start Position: </b></td>
                    <td>{{ x.AutoStartPosID }}</td>
                    <td><b>Human Player Scored: </b></td>
                    <td>{{ getYesNo(x.AutoHuman) }}</td>
                </tr>
                <tr>
                    <td><b>Avg. Auto Scored High: </b></td>
                    <td>{{ x.AutoScoredHigh }}</td>
                    <td><b>Avg. Auto Scored Low: </b></td>
                    <td>{{ x.AutoScoredLow }}</td>
                </tr>
                <tr>
                    <td><b>Typical Auto PickUp: </b></td>
                    <td>{{ getYesNo(x.AutoPickUp) }}</td>
                    <td><b>Shoot While Driving?: </b></td>
                    <td>{{ getYesNo(x.TeleShootWhileDrive) }}</td>
                </tr>
                <tr>
                    <td><b>Auto Strategy: </b></td>
                    <td colspan="3">{{ x.AutoSummary }}</td>
                </tr>
                <tr>
                    <td><b>Avg. Tele Balls Scored High: </b></td>
                    <td>{{ x.TeleBallsScoredHigh }}</td>
                    <td><b>Avg. Tele Balls Scored Low: </b></td>
                    <td>{{ x.TeleBallsScoredLow }}</td>
                </tr>
                <tr>
                    <td><b>Sort Cargo?: </b></td>
                    <td>{{ getYesNo(x.TeleSortCargo) }}</td>
                    <td><b>Max Ball Capacity: </b></td>
                    <td>{{ x.MaxBallCapacity }}</td>
                </tr>
                <tr>
                    <td><b>Tele Strategy: </b></td>
                    <td colspan="3">{{ x.TeleStrategy }}</td> 
                </tr>
                <tr>
                    <td><b>Defense?: </b></td>
                    <td>{{ getYesNo(x.TeleDefense) }}</td>
                    <td><b>Evade Defense?: </b></td>
                    <td>{{ getYesNo(x.TeleDefenseEvade) }}</td>
                </tr>
                <tr>
                    <td><b>Defense Strategy: </b></td>
                    <td colspan="3">{{ x.TeleDefenseStrat }}</td>
                </tr>
                <tr>
                    <td><b>Can Climb: </b></td>
                    <td>{{ getYesNo(x.CanClimb) }}</td>
                    <td><b>Avg. Climb Position: </b></td>
                    <td>{{ x.ClimbPosition }}</td>
                </tr>
                <tr>
                    <td><b>Avg. Climb Time: </b></td>
                    <td>{{ x.ClimbTime }} seconds</td>
                    <td><b>Avg. Climb Rung: </b></td>
                    <td>{{ getClimbHeight(x.ClimbHeightID) }}</td>
                </tr>
                <tr>
                    <td><b>Climb Strategy: </b></td>
                    <td colspan="3">{{ x.ClimbStrategy }}</td>
                </tr>
                
            </div>
        </div>
    </tr>
</table>

<!-- misfit code
 -->
