<table style="width: 100%;" border="1">
    <tr>
        <th colspan="4">General Comments of the robot</th>
    </tr>
    <tr>
        <td colspan="1">Match#</td>
        <td colspan="3">Comment</td>
    </tr>
    <tr>
        <th colspan="4">Qualities</th>
    </tr>
    <tr>
        <th colspan="2">Offensive</th>
        <th colspan="2">Defensive</th>
    </tr>
    <tr>
        <td>Match#</td>
        <td>Offensive qualities</td>
        <td>Match#</td>
        <td>Defensive qualities</td>
    </tr>
    <tr>
        <th colspan="4">This team is labed as a (( botLabel )) bot</th>
    </tr>
    <tr>
        <th colspan="4">Lover for Harish</th>
    </tr>
    <tr>
        <td colspan="4">(( love for harish scale ))</td>
    </tr>
</table>
