<table align="center" width="50%">
    <tr>
        <th>
            Welcome to the Cyberscouter&trade;!
        </th>
    </tr>
    <tr>
        <td style="font-size: medium;">
            Here you can acess all of the data for our matches. 
            Team picker allows for you select the best alliance to pair with, with customizable graphs to choose from. 
            The robot snapshot allows you to see infividual profiles of each robot. 
            The math report has reports of differents matches with data from each robot in the alliance.
        </td>
    </tr>
    <p></p>
    <tr>
        <td align="center"><img src="https://cdn.discordapp.com/attachments/830144707794305064/950545078684889088/g.JPG" alt="logo"></td>
    </tr>
</table>
<p></p>
<app-schedule></app-schedule>