<table border="0" width="100%">
    <tr>
        <td>
            <input #teamSelect type="string" id="teamSelect" name="teamSelect" list="productName" ngModel (ngModelChange)="setTeam(teamSelect.value)"/>
            <datalist id="productName">
                <option *ngFor="let a of apiTeamsList" value="{{ a.Team }}">{{ a.Team }}</option>
            </datalist>
        </td>
        <td>
            <div *ngFor="let x of apiTeamsList">
                <div *ngIf="x.Team + '' == team + ''"><b>Team Name:</b> {{ x.TeamName }}</div>
            </div>
        </td>
        <td>
            <div *ngFor="let x of apiTeamsList">
                <div *ngIf="x.Team + '' == team + ''"><b>Team Location:</b> {{ x.TeamCity }}, {{ x.TeamStateProv }}</div>
            </div>
        </td>
    </tr>
        
    <tr>
        <td>
            <app-analysis-table  [analysisGroup]=3 [selectedTeam]=team></app-analysis-table>
            <br>
            <app-analysis-table  [analysisGroup]=2 [selectedTeam]=team></app-analysis-table> 
            <br>
            <app-analysis-table  [analysisGroup]=4 [selectedTeam]=team></app-analysis-table> 
        </td>
        <td>
            <app-pit-data [team]="team"></app-pit-data>
        </td>
        <!-- <td>
            <table border="1">
                <tr>
                    <img src="https://cdn.discordapp.com/attachments/830144707794305064/949107933260677130/error_robot_not_found.png" alt="robotnotfound" style="width:500px;height:500px;">
                </tr>
                <tr>
                    <app-analysis-graph [analysisTypeID]=10 [selectedTeam]=team> </app-analysis-graph>
                </tr>
                
            </table>
        </td> -->

    </tr>
</table>


