<table>
    <tr>
        <td>
            <input #teamSelect type="string" id="teamSelect" name="teamSelect" list="productName"/>
            <datalist id="productName">
                <option *ngFor="let a of apiTeamsList" value="{{ a.Team }}">{{ a.Team }}</option>
            </datalist>
            <button type="button" (click)="setTeam(teamSelect.value)">Update</button>
        </td>
        <td>
            <div *ngFor="let x of apiTeamsList">
                <div *ngIf="x.Team + '' == teamSelect.value + ''"><b>Team Name:</b> {{ x.TeamName }}</div>
            </div>
        </td>
        <td>
            <div *ngFor="let x of apiTeamsList">
                <div *ngIf="x.Team + '' == teamSelect.value + ''"><b>Team Location:</b> {{ x.TeamCity }}, {{ x.TeamStateProv }}</div>
            </div>
        </td>
    </tr>

    <tr>
        <app-analysis-table  [analysisGroup]=1 [selectedTeam]="teamSelect.value"></app-analysis-table>
        <app-analysis-table  [analysisGroup]=2 [selectedTeam]="teamSelect.value"></app-analysis-table> 
    </tr>
</table>


